{% extends 'index.html' %}

<!-- Home Content -->
{%block content%}
<section class="w-full py-8">
  <div class="mx-auto max-w-4xl px-4 sm:px-6 md:px-8">
    <!-- Content -->
    <p
      class="pb-8 text-justify text-base leading-relaxed font-medium tracking-tight text-zinc-700 dark:text-zinc-300"
    >
      Based in Indonesia, I harbor a deep interest in bridging the gap between
      hardware and software. My primary focus lies in exploring the potential of
      the
      <strong>Internet of Things (IoT)</strong> through the efficiency and
      absolute control offered by
      <strong>C, C++, Rust, and Assembly.</strong> Explore my code experiments
      on
      <a
        href=""
        class="font-semibold text-zinc-900 underline decoration-indigo-500 decoration-2 underline-offset-3 dark:text-zinc-100"
        >GitHub</a
      >, or let's exchange professional insights on
      <a
        href=""
        class="font-semibold text-zinc-900 underline decoration-indigo-500 decoration-2 underline-offset-3 dark:text-zinc-100"
        >LinkedIn.</a
      >
    </p>
</section>
{%endblock%}
